{{define "/tpl1/foot.html"}}
	<div class="clear"></div>
	<!-- footer -->
		<div class="footer">
		<!-- 移动底部导航 -->
		<div class="mnav pcnone">
			<li class="mfindx"><a href="http://www.lizseo.com/"><span></span>首页</a></li>
			<li class="mfres"><a href="http://www.lizseo.com/kecheng/17.html"><span></span>课程介绍</a></li>
			<li class="mfff"><a href="http://www.lizseo.com/suanfa/"><span></span>SEO算法</a></li>
			<li class="mfxg"><a href="http://www.lizseo.com/zhishi/"><span></span>SEO知识</a></li>
			<li class="mfask"><a href="http://www.lizseo.com/anli/"><span></span>培训案例</a></li>
		</div>
		<div class="fanhuitop"><a  href="#top" ref="nofollow"><img src="http://www.lizseo.com/skin/lulu1.0/images/fhtop.png" title="返回顶部" ></a></div>
	    <div class="dibu">
	        <a  href="http://www.lizseo.com/sitemap.xml" target="blank">网站地图 .</a>
	        <a  href="http://www.lizseo.com/sitemap.html" target="blank">导航地图 </a>
			<a href="http://www.lizseo.com/seo/index.html" target="blank">SEO公司</a>
	    </div>
		<div class="banquan">
	        <span>Copyright 2017 © www.lizseo.com All Rights Reserved. </span> 
	        <a class="mnone" rel="nofollow" href="http://www.miibeian.gov.cn/" class="icp" target="_blank"> 沪ICP备17015187号</a> 
	    </div> 
	    <div class="tongjidaima"></div>
	</div>
	{{end}}


